html, body, #screen {
    min-height: 100%;
  }

  html {
    box-sizing: border-box;
    /* Set font-size to 10px to make rem math easier
      ie. 1.6rem == 16px */
    font-size: 10px;
    width: 100%;
    overflow-x: hidden;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    background: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto, sans-serif';
    font-size: 16px;
    line-height: 24px;
    color: #404040;

  }

  h1, h2, h3, h4, h5, h6 {
    color: #0b5d93;
    letter-spacing: 1px; /* todo: set heading specific letter-spacing? */
    line-height: 1.25; /* todo: set heading specific line-height? */
  }

  h3, h4, h5, h6 {
    font-weight: 400;
  }

  h1 {
    font-size: 32px;
    padding: 2.2rem 0;
    border-bottom: 1px solid #CBCBCB;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  p, ul {
    margin: 1.6rem 0 2.4rem;
  }
  a, button {
    color: #0b5d93;
    text-decoration: underline;
  }

  ol {
    margin-left: 2rem;
  }
  ol>li {
    margin: 2rem 0;
  }

  ul {
    list-style: none;
  }

  .align--center {
    text-align: center;
  }

  .spacing--large {
    margin: 4rem 0;
  }

  /* Mobile utilities */
  .mobile-only {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  /* Font styles */
  .text--blue {
    color: #0b5d93;
  }
  .text--red {
    color: #ce2727;
  }

  /* Sidebars */
  .sidebar {
    padding: 2rem;
    font-size: 14px;

  }
  .sidebar--subtle {
    background-color: #F4F4F4;
  }

  /* Form controls */

  input[type=text],
  input[type=email],
  input[type=tel] {
    font-size: 1.6rem;
    border: 1px solid #CBCBCB;
    padding: 6px 10px;
    width: 100%;
    line-height: 1.3;
  }

  /* Buttons */
  .btn {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #CBCBCB;
    padding: 1rem 2.6rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px rgba(64, 64, 64, 0.5);
    transition: all 0.35s;
    text-align: center;
    line-height: 1.25;
    font-size: 1.6rem;

    :disabled {
      opacity: .4;
      cursor: not-allowed;
    }
  }

  .btn--disabled {
    opacity: .4;
    cursor: not-allowed;
  }

  .btn--primary {
    background-color: #0b5d93;
    color: #CBCBCB;

    &:hover {
      box-shadow: none;
      background-color: #64B8DD;
    }
  }

  .btn--secondary {
    background-color: #64B8DD;
    color: #CBCBCB;

    &:hover {
      box-shadow: none;
      background-color: #7ED2F7;
    }
  }

  .btn--donate {
    background-color: #ce2727;
    color: #CBCBCB;

    &:hover {
      background-color: #F95858;
    }
  }

  .btn--simple {
    background: transparent;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2.6rem;
    border: none;
    text-align: center;
    line-height: 1.25;
    font-size: 1.6rem;
  }

  /* Dividers */
  .divider--small {
    height: 1px;
    background-color: #EAEAEA;
    width: 100%;
    margin: 2rem 0;
  }

  .divider--large {
    height: 3px;
    background-color: #EAEAEA;
    width: 100%;
    margin: 4rem 0;
  }

  /* Social icons */
  .social-icon-row {
    display: flex;
    align-items: center;
  }

  .social-icon-row__link {
    width: 24px;
    margin-right: 1rem;
  }

  .custom-clustericon {
    background: var(--cluster-color);
    color: #FFF;
    border-radius: 60px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    opacity: 80%;
  }

  .custom-clustericon-first {   
    --cluster-color: #3167ae;
  }

  .custom-clustericon-second {
    --cluster-color: #4c5151;
  }

  .custom-clustericon-third {
    --cluster-color: #ce2827;
  }

  .custom-clustericon-fourth {
    --cluster-color: #62334c;
  }

  .custom-clustericon-fifth {
    --cluster-color: #ce2727;
  }