.multichart {
  order: 0;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 2rem 0;
  }
}

.multichart__heading {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 400;
  border-bottom-width: 0;

  @media screen and (min-width: 768px) {
    font-size: 3rem;
    padding: 2rem 0 0;
  }
}

.multichart__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  width: 100%;
  padding: 2rem 0;

  @media screen and (min-width: 768px) {
    background: var(--color-grayLightest);
    padding: 3rem;
    align-items: stretch;
  }
}

.multichart__left {
  width: 100%;
  margin-bottom: 4rem;

  @media screen and (min-width: 768px) {
    width: 75%;
    padding-right: 2rem;
    margin-bottom: 0;
  }
}

.multichart__chart-container {
  width: 100%;
  height: 100%;
  background: var(--color-grayLightest);
  box-shadow: 1px 1px 3px rgba(64, 64, 64, 0.5);
  padding: 0;
  padding-bottom: 1rem;

  @media screen and (min-width: 767px) {
    background: var(--color-white);
    padding: 1rem;

    /** Redo this a better way when refactoring charts */
    > div {
      height: 400px;
    }
  }
}

.multichart__chart-title {
  text-align: center;
}

.multichart__right {
  width: 100%;
  font-size: 14px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: column;
    width: 25%;
    padding-left: 1rem;
  }
}

.multichart__btn {
  width: 100%;
  max-width: 400px;
  padding: 1.5rem 1.5rem;

  @media screen and (min-width: 768px) {
    width: auto;
  }
}

.multichart__callout {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}

.multichart__callout-text {
  display: block;
  font-style: italic;
  margin-bottom: 1rem;
}

.multichart__btn {
  display: flex !important;
  align-items: center;
  text-align: left !important;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
  margin: 1rem 0;
}

.change-chart-button.active {
  outline: none; /* Don't display border on chrome */
  box-shadow: none;
  background-color: var(--color-secondaryBlue);
}

.multichart__btn--text {
  font-size: 14px;
}
