.post__content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.post__topic-link {
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 12px;

  + .post__topic-link {
    margin-left: 16px;
  }
}
